  .cabecalho {
      background-color: rgba(204, 131, 253, 0.938);
      color: rgb(0, 0, 0);
      text-aling: center;
      max
  }

  .conteudo-principal{
background-color: rgba(223, 154, 255, 0.897);
color: rgb(0, 0, 0);
}
